@font-face
{
	font-family: 'ProggyVector';
	src: url('../fonts/ProggyVector Regular.woff') format('woff');

}

@font-face
{
	font-family: 'ProggyClean';
	src: url('../fonts/ProggyCleanCE.ttf') format('truetype');
}

/* ::-webkit-scrollbar 
{
	width: 12px;              
}
::-webkit-scrollbar-track 
{
	background: orange;        
}
::-webkit-scrollbar-thumb 
{
	background-color: blue;    
	border-radius: 20px;       
	border: 3px solid orange;  
} */

html, body
{
	/* background: rgba(24,28,48, 1);  */
	background: rgba(10,10,10, 1); 
	/* background: rgba(50,40,40, 1);  */
	font-family: 'Consolas';
	font-weight: normal;
	font-style: normal;
	color: ivory;
	/*
	background: linear-gradient(335deg, 
				rgba(24,28,48,1) 0%, rgba(36,39,56,1) 37%, rgba(53,55,68,1) 60%, 
				rgba(70,71,80,1) 76%, rgba(86,86,91,1) 84%,rgba(112,112,114,1) 93%, 
				rgba(120,120,121,1) 100%, rgba(170,168,164,1) 100%);
	*/

}


#canvas-enclosure
{
	border: 1px solid antiquewhite;
}

#canvas-config
{
	background: rgba(0, 0, 0, 1);
}

.pane
{
	/* border: 1px solid #a8a8a8; */
	border: 1px solid #a8a8a81a;
	 /* ffaf0d */
	/* border: 1px solid antiquewhite; */
	background: rgb(30, 30, 40, 0.7); 
	border-radius: 2px;
}

#status-bar
{
	/* border: 1px solid #ffaf0d; */
	/* background: rgb(10, 10, 20, 1);  */
	font-size: 11pt;
	background:#1b1a1d;
	color: #a8a8a8;
	/* color: rgba(20,20,30, 1); */
	/* background: rgb(63, 34, 90);  */
	
}

.tab-header
{
	font-size: 10pt;
	font-weight: bold;
	width: 100%;
	user-select: none;
	/* border-radius: 5px 0px 0px; */
	/* background:#ffaf0d; */
	background:#a8a8a8;
	/* background:#d4c5a6; */
	color: rgba(20,20,30, 1);
	text-align: center;
	margin: auto;
}

.tab-header:hover 
{
	cursor: grab;
	/* background:#ffc44e; */
	background:#d4c5a6;

}
